body{
    background-color: rgb(202, 226, 228);
}
hr{
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 10%;
}
img:hover{
    background-color: rgb(155, 241, 97);
    transform: translateY(5%);
}
.picture{
    width: 70%;
    transition: all 0.5s ease-in;
}